.button{
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
}
.backgroundLight{
    -fx-background-color: #ffffff;
}
.positiveButton{
    -fx-background-color: #215E7A;
    -fx-text-fill: white;
}
.positiveButton:hover{
    -fx-background-color: #153748;
}

.button:hover{
    -fx-cursor: hand;
}
.h1{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
.text{
    -fx-font-size: 14px;
}
.errorText{
    -fx-text-fill: #fd0808;
    -fx-font-size: 14px;
}